@use "../App" as *;

.header {margin-top: 20px; //position: sticky;top: 0;z-index: 100; @include flexgr();justify-content: center; align-items: center;color: #fff;
  .grid{ @include flexgr(); justify-content: space-between; align-items: center;}
}
.logo { font-size: 1.4rem; font-weight: 700; color: #000;}
.nav a { margin-left: 1.2rem; text-decoration: none; color: #fff; font-weight: 500;
  &:hover {  color: #2563eb;}
}

.contactBtn{ background: #000; color: #fff; border-radius: 50px; padding: 10px 15px;font-weight: bold; letter-spacing:3px; display: flex; justify-content: center; align-items: center;font-size:14px;}

 
 
