@use "../App" as *;

.hero{ @include centerWidth(80vw);
  .hero-content{
  h1 {font-size: 3rem; line-height: 1.2; @include font_medium();
    span { color: #2563eb;}
  }
  p {  margin: 1rem 0 2rem;  font-size: 1.1rem;  color: #555;}
}
}

#root{    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 11px;
    font-weight: bold;}
 
 

@media (max-width: 768px) {
.hero-actions { justify-content: center;}
.hero-image { order: -1;}
}
